spring.application.name=artcook
spring.datasource.url=jdbc:mysql://HOST:PORT/DB_NAME
spring.datasource.username=TU_USUARIO
spring.datasource.password=TU_PASSWORD
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.hibernate.ddl-auto=update
server.port=8081

spring.mail.host=smtp.gmail.com
spring.mail.port=587
spring.mail.username=TU_CORREO@gmail.com
spring.mail.password=TU_APP_PASSWORD
spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

admin.email=TU_EMAIL_ADMIN
admin.password=TU_PASSWORD_ADMIN
user.email=TU_EMAIL_USER
user.password=TU_PASSWORD_USER

app.base-url=http://localhost:4200

app.openai.api-key=TU_OPENAI_KEY
app.gemini.api-key=TU_GEMINI_KEY
app.claude.api-key=TU_CLAUDE_KEY

jwt.secret=TU_SECRET_MINIMO_32_CARACTERES

spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.open-in-view=false

spring.servlet.multipart.max-file-size=50MB
spring.servlet.multipart.max-request-size=50MB

springdoc.swagger-ui.path=/swagger-ui.html
springdoc.api-docs.path=/v3/api-docs

app.falai.api-key=TU_FALAI_KEY
deepgram.api.key=TU_DEEPGRAM_KEY
app.videos.path=videos
app.ffmpeg.path=C:/ruta/a/ffmpeg.exe